.start-button-container {
    height: 25rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;



}

.welcome-message {
    font-family: Encode Sans, Condensed;
    font-size: 32px;
    font-weight: 300;
    line-height: 30px;
    color: #255292FF;
}



.choice-button {
    width: 400px;
    height: 50px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Encode Sans, Condensed;
    /* Body */
    font-size: 28px;
    font-weight: 300;
    line-height: 30px;
    color: white;

    background: #255292FF;
    /* primary-500 */
    border: none;
    border-radius: 6px;
    /* border-xl */
    box-shadow: 4px 4px 15px #5f6774, 0px 0px 1px #171a1f;
    /* shadow-xl */
}

.choice-button:hover {
    background: #1E447AFF;
    /* primary-600 */
}

.choice-button:hover:active {
    background: #183660FF;
    /* primary-700 */
}

.choice-button mat-icon {
    width: 3rem;
    height: 2.5rem;
    font-size: 2.7rem;
}


.search-kvk-number-container {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.start-button-container mat-form-field {
    /* border: solid;
    border-color: #255292FF; */
    flex-grow: 0.9;
    height: 73px;
    /* box-shadow: 2px 4px 15px #5f6774, 0px 0px 1px #171a1f; */
}



.search-kvk-number-container mat-label {
    font-family: Encode Sans;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.1px;
}



.search-button {
    width: 100px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}