

<div class="window">
    <div class="tiles-container">

        <div class="tile">
            <img src="assets/onderneming.jpg">
            <div class="tile-content">
                <button (click)="openDialogOnderneming('300ms', '0')">
                    Onderneming informatie 
                    <mat-icon fontIcon="arrow_forward"></mat-icon>
                </button>
                <span>Onderneming (Business): Een entiteit die zich bezighoudt met economische activiteiten, zoals handel of dienstverlening.</span>
            </div>
        </div>

        <div class="tile">
            <img src="assets/persoonsgegevens.jpg">
            <div class="tile-content">
                <button (click)="openDialogPersoonsgegevens('300ms', '0')">
                    Persoonsgegevens 
                    <mat-icon fontIcon="arrow_forward"></mat-icon>
                </button>
                <span>Informatie die herleidbaar is tot een individu, zoals naam, adres of telefoonnummer.</span>
            </div>
        </div>

        <div class="tile">
            <img src="assets/functionaris.jpg">
            <div class="tile-content">
                <button (click)="openDialogFunctionaris('300ms', '0')">
                    Functionaris 
                    <mat-icon fontIcon="arrow_forward"></mat-icon>
                </button>
                <span>Een persoon die een specifieke rol of functie binnen een organisatie vervult, zoals een functionaris voor gegevensbescherming.</span>
            </div>
        </div>

        <div class="tile">
            <img src="assets/vestiging.jpg">
            <div class="tile-content">
                <button (click)="openDialogVestiging('300ms', '0')">
                    Vestiging 
                    <mat-icon fontIcon="arrow_forward"></mat-icon>
                </button>
                <span>Een fysieke locatie waar een onderneming actief is, zoals een kantoor, winkel of fabriek.</span>
            </div>
        </div>
</div>