<p>functionaris works!</p>




<h2 mat-dialog-title>Under construction...</h2>
<mat-dialog-content class="mat-typography">

  <div class="register-container">
    <h2>functionaris</h2>
    <form>
      <label for="companyName">Bedrijfsnaam</label>
      <input type="text" id="companyName" name="companyName" required>
  
      <label for="address">Adres</label>
      <input type="text" id="address" name="address" required>
  
      <label for="contact">Contactgegevens</label>
      <input type="text" id="contact" name="contact" required>
  
      <label for="industry">Beschrijving</label>
      <input type="text" id="industry" name="industry" required>
  
      <label for="employees">Aantal werknemers</label>
      <input type="number" id="employees" name="employees" required>
  
      <label for="revenue">Jaarlijkse omzet</label>
      <input type="text" id="revenue" name="revenue" required>
  
      <label for="website">Bedrijfswebsite</label>
      <input type="url" id="website" name="website" required>
  
      <label for="established">Oprichtingsdatum</label>
      <input type="date" id="established" name="established" required>
  
      <!-- Andere invoervelden... WIP -->
  
      <button type="submit">Verzenden</button>
    </form>
  </div>
  
  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Confirm</button>
</mat-dialog-actions>
